body {
    background-image: url(zydzi.jpg);
    margin: 0;
    padding: 0;
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: flex-end; 
    align-items: center; 
}
    img {
  width: 150px;
  height: auto; 
    }
.moving-text {
    position: absolute;
    font-size: 2em;
    white-space: nowrap;
}
a{
    text-shadow: 2px 6px 7px orange;
    text-shadow: 2px 6px 7px red;
    font-weight: 900;
    font-size: larger;
    font-family:Georgia, 'Times New Roman', Times, serif
}
.link {
    text-decoration: none; 
    color: red;  
    font-weight: bold; 
}
.bottom-image {
    width: 500px; /* Mniejsza szerokość obrazka */
    height: auto;  /* Automatyczne dopasowanie wysokości, aby zachować proporcje */
    cursor: pointer; /* Ręka sugerująca klikalność */
    transition: transform 0.3s ease; /* Płynna animacja przy najechaniu */
}

/* Efekt najechania na obrazek */
.bottom-image:hover {
    transform: scale(1.1); /* Powiększenie obrazka przy najechaniu */
}

.bottom-image:hover {
    transform: scale(1.1); 
}
